{% extends 'todo/base.html' %}

{% block content %}
    <ol class="todos" id="current-base-output">
        {% for todo in todos %}
            <a href="{% url 'viewtodo' todo.id %}">
                <li>
                    <svg>
                        <circle cx="13" cy="14" r="11"></circle>
                    </svg>
                    <p>
                        {% if todo.important %} <b> {{ todo.title }} </b> {% else %} {{ todo.title }} {% endif %}
                        {% if todo.memo %} - {{ todo.memo }} {% endif %}
                    </p>
                </li>
            </a>
        {% endfor %}
    </ol>

    <ol class="todos" id="current-output">

    </ol>

{% endblock %}
